.image{
    height:50em; background-size:cover; width:auto;
    background-image:url('https://img.etimg.com/thumb/width-1200,height-900,imgsize-341034,resizemode-75,msid-89920834/wealth/save/baal-aadhaar-how-to-apply-aadhaar-card-for-children.jpg');
    background-position:89% 30%;
    background-size: 550px;
    background-repeat: no-repeat;
    background-color:antiquewhite
  }