.image{
    height:39em; background-size:cover; width:auto;
    background-image:url('https://designtemlate.s3.us-west-1.wasabisys.com/Best-Premium-Vector-Aadhar-Card-Illustration-700.webp');
    background-position:50% 50%;
  }